@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
    color: #fff;
}

body{
  background-color: #000;
  overflow-x: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 9999;
}
  
#preloader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
  
#main-content {
  display: none;
}  

h1{
  color: #fff;
}


nav{
  margin: 40px 96px 0px 96px;
  display: flex;
  justify-content: space-between;

}

.navm{
  position: relative;
  margin-left: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.navm::after{
  content: " ";
  position: absolute;
  background-color: #037447;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}

.navm:hover{
  color: #fff;
}

.navm:hover:after{
  color: #037447;
  width: 100%;
}

#atext1{
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 162%;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(/images/back.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  transition: transform 1.5s;
  transition-timing-function: ease-in-out;
}

#atext1:hover{
  transform: scale(1.1);
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

#atext2{
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.425);
}

#aboutme{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

#face{
  width: 497px;
  height: 475px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  margin-left: 210px;
  transition: transform 1.5s;
  transition-timing-function: ease-in;
}

#face:hover{
  transform: scale(1.1);
}

#atext3{
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
}

#atext4{
  margin-right: 250px;
  text-align: justify;
  width: 400px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  margin-bottom: 30px;
}

#abutton1{
  border: 2px solid #037447;
  border-radius: 10px;
  width: 177px;
  height: 52px;
  background: black;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  transition: transform 1.5s;
  transition-timing-function: ease-in-out;
}

#abutton1:hover{
  background: #037447;
  transform: scale(1.1);
}

#atext5{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 100px;
  margin-bottom: 100px;
}

.tothetable{
  display: flex;
  align-items: center;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #037447;
  border-radius: 20px;
  width: 600px;
  margin-bottom: 30px;
}

.icons{
  width: 115px;
  height: 115px;
}

.atext6{
  font-weight: 500;
  font-size: 25px;
  color: #037447;
  margin-bottom: 5px;
}

.atext7{
  font-weight: 500;
  font-size: 12px;
  width: 350px;
}

.thetalk{
  margin-left: 55px;
}

.tothetable{
  display: flex;
  justify-content: center;
  gap: 60px;
}

#myface{
  transition: transform 1.5s;
  transition-timing-function: ease-in-out;
}

#myface:hover{
  transform: scale(1.1);
}