@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
  list-style: none;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

nav {
  position: relative;
  margin: 40px 96px 0px 96px;
  display: flex;
  justify-content: space-between;
}

#navitems {
  display: flex;
}

.navm {
  position: relative;
  margin-left: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.navm::after {
  content: " ";
  position: absolute;
  background-color: #037447;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}

.navm:hover {
  color: #fff;
}

.navm:hover:after {
  color: #037447;
  width: 100%;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  outline: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0px;
  transition: 0.4s;
  border-radius: 5px;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-3.5px, 3.5px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-3.5px, -3.5px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: black;
  padding-top: 55%;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  /* width: 100%;
  max-width: 200px; */
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

.mobile-nav a:hover {
  font-weight: 600;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}


#ptext1{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 162%;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(/images/back.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  transition: transform 1.5s;
  transition-timing-function: ease-in-out;
}

#ptext1:hover{
  transform: scale(1.1);
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

#ptext2{
  font-weight: 300;
  font-size: 15px;
  line-height: 162%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}

#projectcards{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.pcard{
  width: 402px;
  border-radius: 30px; 
  overflow: hidden;
  position: relative;
}

.cardimage{
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 475px;
  transition: transform 1.5s;
}

.layer{
  width: 322px;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6), #037447);
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 40px;
  transition: height 1s;
}

.layer h3{
  font-weight: 600;
  margin-bottom: 20px;
}

.layer a i{
  margin-top: 20px;
  color: #037447;
  background: #FFFFFF;
  font-size: 18px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
}

.pcard:hover .cardimage{
  transform: scale(1.1);
  cursor: pointer;
}

.pcard:hover .layer{
  height: 100%;
  cursor: pointer;
}

#ptext3{
  margin-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 15px;
}






@media (max-width: 480px){
  body {
    background-color: #000;
  }
  
  nav {
    margin: 30px 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  #logo img {
    width: 130px;
    height: 12.28px;
  }
  
  .navm {
    position: relative;
    margin-left: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: none;
  }
  
  .navm::after {
    content: " ";
    position: absolute;
    background-color: #037447;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease-in-out;
  }
  
  .navm:hover {
    color: #fff;
  }
  
  .navm:hover:after {
    color: #037447;
    width: 100%;
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    z-index: 999;
  }
  
  .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0px;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-3.5px, 3.5px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-3.5px, -3.5px);
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: black;
    padding-top: 55%;
    transition: 0.4s;
    z-index: 999;
  }
  
  .mobile-nav.is-active {
    left: 0;
  }
  
  .mobile-nav a {
    display: block;
    /* width: 100%;
    max-width: 200px; */
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
  }
  
  .mobile-nav a:hover {
    font-weight: 600;
  }
  
  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
  
    .mobile-nav {
      display: none;
    }
  }
  
  
  #ptext1{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(/images/back.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    margin-top: 50px;
  }
  
  #ptext1:hover{
    transform: scale(1.1);
  }
  
  @keyframes back{
    100%{
      background-position: 2000px 0;
    }
  }
  
  #ptext2{
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0px;
  }
  
  #projectcards{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .pcard{
    width: 350px;
    border-radius: 30px; 
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  
  .cardimage{
    display: block;
    border-radius: 30px;
    height: 350px;
  }
  
  .layer{
    width: 270px;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #037447);
    border-radius: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 40px;
    transition: height 1s;
  }
  
  .layer h3{
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .layer a i{
    margin-top: 20px;
    color: #037447;
    background: #FFFFFF;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
  }

  .pcard:hover .cardimage{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .pcard:hover .layer{
    height: 100%;
    cursor: pointer;
  }
  
  #ptext3{
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
  }
}
